#divcontact {
    text-align: center;
border-style: groove;

}
#al1 {
text-decoration: none
}
#yt1 {


position: relative; top:-60px  ;right: -30px;
text-decoration: none;

}
#ytimg1 {
position: relative;left: -32px;

}
#ayt{
    text-decoration: none;
}